.app__cart {
    flex-direction: column;
    background: var(--color-black);
}

.app__cart-Title {
    margin-bottom: 0rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.app__cart-items {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 35px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: var(--color-cream);
    flex-direction: column;
    
}

.app__cart-total {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 50px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: var(--color-golden);
}

.app__cart-buttons {
    padding: 10px 20px;
    justify-content: space-around;
    font-size: 16px;
}

.custom__button-cart {
    background-color: var(--color-crimson);
      color: var(--color-black);
      font-family: var(--font-base);
      font-weight: 700;
      letter-spacing: 0.04em;
      line-height: 28px;
      font-size: 30px;
      padding: 0.5rem 1.5rem;
      border-radius: 1500px;
      border: none;
      outline: none;
      cursor: pointer;
  }

  .cart__img {
    text-align: center;
    flex-direction:column;
    align-items: center;
    text-align: center;
  }

  .headtext__cormorant-cart {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
  }

  .spoon__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom__button-Minus {
    background-color: var(--color-crimson);
      color: var(--color-black);
      font-weight: 700;
      letter-spacing: 0.04em;
      line-height: 20px;
      font-size: 24px;
      padding: 0.5rem 0.8rem;
      border-radius: 1500px;
      border: none;
      outline: none;
      cursor: pointer;
      margin-right: 5px;
  }

  .custom__button-Add {
    background-color: var(--color-crimson);
      color: var(--color-black);
      font-weight: 700;
      letter-spacing: 0.04em;
      line-height: 20px;
      font-size: 20px;
      padding: 0.5rem 0.8rem;
      border-radius: 1500px;
      border: none;
      outline: none;
      cursor: pointer;
  }